env/  
__pycache__/  
*.py[cod]  
.env  
*.sqlite3  
**/migrations/  
school_system/static/  
school_system/media/  
.vscode/  
.idea/  
*.sublime-project  
*.sublime-workspace  
*.log  
*.pot  
*.pyc 
